<div class="container my-5">
  <h2>Agregar Asistencia</h2>
  <form action="/asistencia/add" method="POST">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
      />
    </div>
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input
        type="date"
        class="form-control"
        id="fecha"
        name="fecha"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>